/* Global */
a {
  color: #FFFFFF;
}

/* Padding Adjustments */
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.section-lg {
  padding-top: 8rem;
  padding-bottom: 8rem;
}


/* Forms */
#request-form {
  width: 45%;
}

#donate-form {
  width: 45%;
}

#full-width {
  width: 100%;
}
